# A simple script to verify build of PRs works
name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: "Build and execute unit tests"
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Set JDK environment
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 21

    - name: Setup gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Build the app and execute unit tests
      run: ./gradlew build koverXmlReport

    - name: Upload coverage to Codecov
      if: ${{ !cancelled() }}
      uses: codecov/codecov-action@v5
      with:
        files: app/build/reports/kover/report.xml
        token: ${{ secrets.CODECOV_SECRET }}
        fail_ci_if_error: true

    - name: Upload test results to Codecov
      if: ${{ !cancelled() }}
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_SECRET }}
        report_type: test_results
